<div class="row mb-5">
  <BarChart @data={{model}} @compareBy="deaths"/>
</div>

<SortableTable @activeSortBy={{activeSortBy}} @sortDirection={{sortDirection}} @data={{model}} as |table|>
  <thead>
    <tr>
      {{#table.th field="name"}}Name{{/table.th}}
      {{#table.th field="confirmed"}}Confirmed{{/table.th}}
      {{#table.th field="deaths"}}Deaths{{/table.th}}
      {{#table.th field="recovered"}}Recovered{{/table.th}}
    </tr>
  </thead>
  <tbody>
    {{#each table.sortedData as |data|}}
      <tr>
        <td>{{data.name}}</td>
        <td>{{data.confirmed}}</td>
        <td>{{data.deaths}}</td>
        <td>{{data.recovered}}</td>
      </tr>
    {{/each}}
  </tbody>
</SortableTable>
